{% extends "layouts::master.twig" %}
{% block title %}اطلب - توصيل من الصيدلية{% endblock %}
{% block description %}أُطلب أي شي محتاجه من الصيدلية، وبتلاقينا جاهزين كل يوم لتوصيله. {% endblock %}
{% block permalink %}https://now.e6lub.com/thank-you.html{% endblock %}

{% set hide_footer_about_us = false %}
{% set language = "ar" %}
{% set direction = "rtl" %}

{% block content %}
    <div class="thanks-background-header"></div>
    <div class="container-lg parent-container">
        <div class="thanks">
            {% include 'partials/header.twig' %}
            {% include 'partials/body.twig' %}
            {% include 'partials/share.twig' %}
            {% include 'partials/contact.twig' %}
        </div>
    </div>
{% endblock %}