@import "variables";
* {
  color: $primary-color;
  text-align: right;
}

/**
Default
 */
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
  font-family: $font-expo-semi-bold;
}
a {
  color: $primary-color;
  text-align: right;
  text-decoration: none!important;
  &:hover {
    color: $primary-color-hover;
  }
}
p {
  color: $primary-color;
}

/**
Header
 */
.bulk-header-mobile {
  display: none;
}
.bulk-background-header {
  background: url(../../assets/images/background-delivery-header.svg);
  height: 874px;
  width: 880px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.bulk-header {
  margin-top: 150px;
  margin-bottom: 180px;
  padding: 30px 30px 0;
  .logo {
    display: block;
    width: 100%;
    background: url("../images/e6lub-logo.png") right no-repeat;
    height: 56px;
    margin-bottom: 98px;
  }
  .header-title {
    p {
      text-align: center;
      text-align: right;
    }
    .title-1 {
      font-family: $font-expo-book;
      font-size: 63px;
    }
    .title-2 {
      font-family: $font-expo-bold;
      font-size: 47px;
    }
    .title-3 {
      font-family: $font-expo-bold;
      font-size: 65px;
    }
    .title-5 {
      font-family: $font-expo-medium;
      font-size: 26px;
      line-height: 46px;
    }
  }
}

.where-to-deliver {
  text-align: center;
  margin-bottom: 60px;
  .header-title {
    font-size: 27px;
    font-family: $font-expo-medium;
    margin-bottom: 60px;
    .title {
      text-align: center;
      line-height: 40px;
    }
  }
  .locations {
    .image {
      text-align: center;
      margin-bottom: 30px;
      img {
        height: 150px;
      }
    }
    .title {
      font-size: 21px;
      text-align: center;
    }
  }
}

.bulk-registration {
  border-radius: 19px;
  background-color: $background-top-section-color;
  border: 1px solid rgba(112, 112, 112, 0.04);
  padding: 50px 38px;
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
  .img {
    text-align: center;
    img {
      text-align: center;
      width: 60%;
      margin: 0 auto 30px;
    }
  }
  .question {
    font-size: 52px;
    font-family: $font-expo-bold;
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 40px;
  }
  .hint-1 {
    font-size: 26px;
    font-family: $font-expo-medium;
    color: $start-gradient-orange-color;
    margin-bottom: 20px;
  }
  .hint-2, .hint-3 {
    font-size: 20px;
    font-family: $font-expo-book;
  }
  .form-bulk-registration {
    background-color: rgb(255, 255, 255);
    padding: 38px;
    border-radius: 23px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    height: calc(100% - 30px);
    label {
      font-family: $font-expo-medium;
      font-size: 20px;
      font-weight: normal;
    }
    .mauticform-freehtml {
      h3 {
        font-family: $font-expo-medium;
        font-size: 40px;
      }
      h3:last-child {
        font-size: 25px;
      }
    }
    .mauticform_wrapper {
      text-align: right!important;
      #mauticform_driversapplicationform_fill_your_order {
        display: none!important;
      }
    }
    .mauticform-selectbox.form-control {
      height: auto!important;
      background: rgb(247, 247, 247) url('../images/arrow-alt-down-fill.png') 15px no-repeat !important;
      padding: 15px 22px!important;
      border: none!important;
      border-radius: 8px!important;
      font-family: $font-expo-book;
      font-size: 17px;
      -webkit-appearance: none!important;
      -moz-appearance: none!important;
      appearance: none!important;
    }
    .mauticform-radiogrp {
      .mauticform-radiogrp-row {
        display: inline-block;
        margin-left: 30px;
        .mauticform-radiogrp-radio {
          margin-left: 7px
        }
      }
    }
    .mauticform-input, .mauticform-textarea {
      border-radius: 8px;
      box-sizing: border-box;
      background-color: $text-input-background-color;
      border: none;
      padding: 25px;
      font-family: $font-expo-book;
      color: $primary-color;
      font-size: 17px;
      margin-bottom: 17px;
      &::placeholder, &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder {
        font-family: $font-expo-light;
        color: $primary-color;
        font-size: 17px;
      }
    }
    .mauticform-button {
      background-color: $primary-color;
      color: white;
      font-family: $font-expo-book;
      font-size: 18px!important;
      border: none;
      padding: 12px 20px;
      border-radius: 8px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}


/**
Mobile & iPad screens
 */
@media (min-width: 1550px) {
  .bulk-header-mobile {
    height: 874px;
    width: 880px;
  }
  .bulk-header {
    margin-top: 150px !important;
  }
}
@media (max-width: 1549px) and (min-width: 1200px) {
  .bulk-background-header {
    height: 647px!important;
    width: 650px!important;
  }
  .bulk-header {
    margin-top: 70px!important;
    .logo {
      margin-bottom: 40px!important;
    }
    .header-title {
      .title-1 {
        font-size: 50px!important;
        margin-bottom: 25px!important;
      }
      .title-2 {
        font-size: 40px!important;
        margin-bottom: 15px!important;
      }
      .title-3 {
        font-size: 45px!important;
        margin-bottom: 15px!important;
      }
      .title-5 {
        font-size: 22px!important;
        line-height: 35px!important;
      }
    }
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .bulk-background-header {
    display: none;
  }
  .bulk-header-mobile {
    background: url(../../assets/images/background-delivery-header.svg);
    height: 440px;
    width: 448px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  .bulk-header {
    margin-top: 50px!important;
    .logo {
      margin-bottom: 30px!important;
    }
    .header-title {
      .title-1 {
        font-size: 31px!important;
        margin-bottom: 10px;
      }
      .title-2 {
        font-size: 23px!important;
        margin-bottom: 15px;
      }
      .title-3 {
        font-size: 35px!important;
        margin-bottom: 15px!important;
      }
      .title-5 {
        font-size: 18px!important;
        line-height: 24px!important;
      }
    }
  }
  .bulk-registration {
    .img {
      img {
        width: 40%;
      }
    }
  }
}
@media (max-width: 767px) {
  .bulk-background-header {
    display: none;
  }
  .bulk-header-mobile {
    height: 580px;
    width: 389px;
    position: absolute;
    left: -10px;
    display: block;
    .bulk-background-header-mobile {
      height: 580px;
      width: 389px;
      background-size: cover;
      background: url(../../assets/images/background-delivery-header-mobile.svg) left no-repeat;
    }
  }
  .bulk-header {
    margin-top: 30px!important;
    margin-bottom: -65px!important;
    .logo {
      background-position: center!important;
      margin-bottom: 33px!important;
    }
    .title-1 {
      font-size: 36px!important;
      margin-bottom: 5px!important;
    }
    .title-2 {
      font-size: 27px!important;
      margin-bottom: 5px!important;
    }
    .title-3 {
      font-size: 49px!important;
      margin-bottom: 0!important;
    }
    .title-5 {
      font-size: 18px!important;
    }
  }
  .where-to-deliver {
    margin-top: 650px!important;
    .header-title {
      padding: 0 15px;
      margin-bottom: 40px!important;
      p {
        font-size: 26px;
      }
    }
  }
  .bulk-registration {
    background-color: transparent!important;
    border: none!important;
    margin-bottom: -85px!important;
    padding: 15px;
    .img {
      padding-top: 20px;
    }
    .question {
      font-size: 32px!important;
      padding: 0px 10px!important;
    }
    .hint-1 {
      font-size: 20px!important;
      text-align: center;
    }
    .hint-2, .hint-3 {
      text-align: center;
      font-size: 18px!important;
      padding: 0px!important;
    }
    .form-bulk-registration {
      margin-top: 40px;
      padding: 15px 20px 30px;
      .mauticform-freehtml {
        h3 {
          font-size: 26px;
        }
        h3:last-child {
          font-size: 18px;
        }
      }
    }
  }
  .about-us-footer {
    padding: 70px 0 50px!important;
    .container-lg {
      h2, p {
        padding: 0 30px;
        text-align: center;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
@import "footer";