@import "variables";
* {
  color: $primary-color;
  text-align: right;
}

/**
Default
 */
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
  font-family: $font-expo-semi-bold;
}
a {
  color: $primary-color;
  text-align: right;
  text-decoration: none!important;
  &:hover {
    color: $primary-color-hover;
  }
}
p {
  color: $primary-color;
}


/**
Header
 */
.driver-background-header {
  background: url(../../assets/images/background-driver-header.svg);
  height: 136px;
  width: 747px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.driver-header {
  margin-top: 150px;
  margin-bottom: 110px;
  padding: 30px 30px 0;
  .logo {
    display: block;
    width: 100%;
    background: url("../images/e6lub-logo.png") right no-repeat;
    height: 56px;
    margin-bottom: 98px;
  }
  .truck {
    width: 100% !important;
  }
  .header-title {
    p {
      text-align: right;
    }
    .title-1 {
      font-family: $font-expo-book;
      font-size: 63px;
    }
    .title-2 {
      font-family: $font-expo-bold;
      font-size: 47px;
    }
    .title-3 {
      font-family: $font-expo-bold;
      font-size: 68px;
    }
    .title-4 {
      font-family: $font-expo-medium;
      font-size: 23px;
    }
  }
}
.driver-registration-2 {
  margin-bottom: 140px!important;
}
.is-that-you {
  .footer-title {
    .title {
      font-family: $font-expo-semi-bold;
      font-size: 37px;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .driver-background-header {
    background: url(../../assets/images/driver-mobile-header.svg);
    height: 58px;
    width: 214px;
  }
  .mobile-truck {
    display: flex;
    order: 2;
  }
  .driver-header {
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 0 20px;
    .logo {
      background-position: center;
      margin-bottom: 34px;
    }
    .header-title {
      p {
        text-align: right;
      }
      .title-1 {
        font-family: $font-expo-book;
        font-size: 36px;
      }
      .title-2 {
        font-family: $font-expo-bold;
        font-size: 27px;
      }
      .title-3 {
        font-family: $font-expo-bold;
        font-size: 40px;
      }
      .title-4 {
        font-family: $font-expo-medium;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
  .driver-registration-2 {
    margin-bottom: 100px !important;
    img {
      width: 169px;
    }
    .form-driver-registration {
      padding: 25px!important;
    }
  }
  .is-that-you {
    .header-title {
      .title {
        font-size: 32px!important;
      }
    }
  }
  .job-details {
    margin-top: 100px!important;
  }
}
@import "footer"