/**
Loaded Fonts
 */
@font-face {
  font-family: "ExpoArabic-Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/ExpoArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic-Book";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ExpoArabic-Book.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic-Medium";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ExpoArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic-SemiBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ExpoArabic-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic-Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/ExpoArabic-Bold.ttf") format("truetype");
}