/**
About us footer
 */
 .about-us-footer {
    background: linear-gradient(to right, $start-gradient-orange-color, $end-gradient-orange-color);
    .container-lg {
      span {
        width: 119px;
        height: 119px;
        background: url("../images/about-us.png") center center no-repeat;
        display: block;
        margin: auto auto 30px;
      }
      padding: 62px;
      h2, p {
        color: white;
      }
      h2 {
        font-family: $font-expo-bold;
        font-size: 45px;
      }
      p {
        margin-bottom: 0;
        font-size: 21px;
        font-family: $font-expo-book;
      }
    }
  }
  
  /**
  Links footer
   */
  .links-footer {
    background-color: $primary-color;
    .container-lg {
      .top-footer {
        padding: 60px;
        span {
          width: 164px;
          height: 56px;
          background: url("../images/logo-white.png") center center no-repeat;
          display: block;
        }
        ul {
          padding: 0!important;
          li {
            margin-bottom: 20px;
            a {
              color: white;
              font-family: $font-expo-medium;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  
  /**
  Copyright footer
   */
  .bottom-footer {
    background-color: $footer-background-color;
    span {
      color: white;
      font-family: $font-expo-book;
      font-size: 14px;
      display: block;
      padding: 17px;
      text-align: center;
    }
  }
  
  /**
  Mobile & iPad screens
   */
  @media (max-width: 767px) {
    .parent-container {
      padding: 0px!important;
    }
    .section-1, .section-2, .middle-section  {
      margin: 15px !important;
      padding: 0 15px!important;
    }
    .top-sections {
      margin-top: 7px;
      margin-bottom: 40px;
      .section-1 {
        .col-lg-5.col-md-12, .col-lg-7.col-md-12 {
          padding: 0!important;
        }
        text-align: center;
        .logo {
          margin-top: 80px;
          background-position: center;
        }
        .header-title {
          .title {
            margin-top: 35px;
            font-size: 36px;
          }
          .sub-title {
            font-size: 42px;
            margin-bottom: 15px;
          }
        }
        .stay-home-btn {
          font-size: 16px;
          margin: auto auto 15px;
          display: inline-block;
        }
      }
      .section-2 {
        padding-bottom: 38px!important;
        .header {
          span {
            margin-bottom: 0px;
          }
          h2 {
            font-size: 35px!important;
          }
        }
        ul {
          li {
            margin-bottom: 17px;
            font-size: 15px;
            p {
              font-size: 15px!important;
            }
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .form-product-list {
          padding: 38px 18px!important;
          height: 100% !important;
          .input-group {
            margin-bottom: 0px!important;
            >.textarea {
              margin-bottom: 15px!important;
              >.form-control {
                padding: 0px!important;
              }
            }
            .form-control {
              font-size: 15px!important;
              padding: 22px!important;
              margin-bottom: 12px!important;
              &::placeholder {
                font-size: 15px!important;
              }
            }
          }
        }
      }
    }
    .middle-section {
      .header-title {
        .title {
          font-size: 36px;
        }
        .sub-title {
          font-size: 32px;
        }
      }
    }
    .about-us-footer {
      text-align: center!important;
      .container-lg {
        padding: 40px 15px!important;
        h2, p {
          text-align: center;
        }
        p {
          font-size: 17px;
          line-height: 30px;
        }
      }
    }
    .links-footer {
      .top-footer {
        padding: 30px 15px!important;
        span {
          margin: auto 0 30px;
        }
      }
    }
  }