@import "~bootstrap/scss/bootstrap";
@import "fonts";


/**
Variables
 */
$primary-color: #123366;
$primary-color-hover: #C80062;
$footer-background-color: #07224B;
$background-top-section-color: #FDFDFD;
$start-gradient-orange-color: #C80062;
$end-gradient-orange-color: #EE4E14;
$text-input-background-color: #F7F7F7;

$font-expo-light: "ExpoArabic-Light";
$font-expo-book: "ExpoArabic-Book";
$font-expo-medium: "ExpoArabic-Medium";
$font-expo-semi-bold: "ExpoArabic-SemiBold";
$font-expo-bold: "ExpoArabic-Bold";

$imageDir: '../images/';
$fontDir: '../images/';
