{% extends "layouts::master.twig" %}
{% block title %}e6lub - Last Mile Delivery Services{% endblock %}
{% block description %}Delivery Services for companies and e-commerce stores{% endblock %}
{% block permalink %}https://now.e6lub.com/lmd.html{% endblock %}

{% set hide_footer_about_us = false %}
{% set language = "en" %}
{% set direction = "ltr" %}

{% block content %}
    <div class="lmd-background-header"></div>
    <div class="container-lg parent-container">
        {% include 'partials/header.twig' %}
        {% include 'partials/why-we-order.twig' %}
        {% include 'partials/form.twig' %}
    </div>    
{% endblock %}