<div class="footer">
    <div class="container-fluid about-us-footer">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-3 col-sm-12"><span></span></div>
                <div class="col-md-9 col-sm-12">
                    <h2>ูู ูุญูุ</h2>
                    <p>ุงุทูุจ ูู ุชุทุจูู ุณุนูุฏู ๐ธ๐ฆ๐ธ๐ฆ ูุชุฎุตุต ูุชุณููู ูุตูู ุทูุจุงุชู ุงูุถุฑูุฑูุฉ ูู ุฃุฏููุฉ ูุฃุฏูุงุช ุตุญูุฉ ูุทุจูุฉ ุญุชู ุจุงุจ ููุฒูู ุจุฏูู ุงูุญุงุฌุฉ ููุฎุฑูุฌุ ูุฏููุง ูุณุคูููู ุดุฑุงุก ูุชุฎุตุตูู ููููุชูู ุชูุตูู ุทูุจุงุชูู ุงูุตูุฏููุฉ ูู ุฃุณุฑุน ููุช.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid links-footer">
        <div class="container-lg">
            <div class="top-footer">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12"><span></span></div>
                    <div class="col-lg-4 col-md-2 col-sm-12"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <ul>
                            <li><a href="https://now.e6lub.com/">ุงุทูุจ | ุชูุตูู ููุงุถู </a></li>
                            <li><a href="#">ุงุทูุจ | ุฎุฏูุงุช ุชูุตูู ุงูุจุถุงุฆุน ุจูู ุงููุฎุงุฒู</a></li>
                            <li><a href="https://now.e6lub.com/drivers.php">ุงุทูุจ | ุณุฌูู ููุณู ููุงุฆุฏ ูุฑูุจุฉ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bottom-footer">
        <div class="container-lg">
            <span>ุฌููุน ุงูุญููู ูุญููุธุฉ ูุฏู ุงุทูุจ 2020</span>
        </div>
    </div>
</div>
