<div class="middle-section">
    <h2 class="header-title">
        <p class="title">طلبـــاتـك</p>
        <p class="sub-title">من الصيدليات الكبرى</p>
    </h2>
    <div class="list-of-products">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/drugs.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">الأدوية والروشتات المختلفة (نبحث عن الدواء المطلوب حتى نصل إليه)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/thermometer.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">أدوات قياس درجة الحرارة (ترمومتر)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/alcohol-gel.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">كحول لتنظيف وتعقيم اليدين والأسطح</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/blood-pressure-gauge.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">أجهزة متنقلة لقياس الضغط والسكر</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/medicine.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">مكمّلات غذائية للتخلص من الإرهاق ومدّ الجسم باحتياجاته من المعادن</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/vitamine.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">الفيتامينات الأساسية لصحة الجلد والشعر والأظافر</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/beauty-salon.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">مستحضرات التجميل وصبغات الشعر</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/soap.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">أدوات النظافة الشخصية والمنزلية</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/fingernail.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">مستلزمات العناية بالأظافر</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/other-in-pharmacy.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">وغيرها</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>