<div class="faqs mb-5">
    <div class="header mb-4">
        <h2 class="text-center">FAQs</h2>
    </div>
    <div class="accordion faqs-list">
        <div class="card">
            <div class="card-header" id="heading1">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        What is Logisti?
                    </button>
                </h2>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body">
                    is a digital logistics platform that collects shippers and transporters in one marketplace, reduces the time waste in sourcing and negotiating, cost saving, reduces processes,  and transporters backload support.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        What is the difference between you and others?
                    </button>
                </h2>
            </div>
            <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body">
                    Transparent processes, focus on pain points to resolve, finding the competitions
                    And headache free of follow up and control.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        How can I sign up as a driver?
                    </button>
                </h2>
            </div>
            <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">
                    Through a digital platform for a driver.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Where are you located?
                    </button>
                </h2>
            </div>
            <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                    Our head office is located in Jeddah, and regional offices are located in Riyadh and Dammam
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading5">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        What are your payment terms?
                    </button>
                </h2>
            </div>
            <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body">
                    Logisit provides flexible payment terms and conditions that suit all customers and service providers.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading6">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        How do I pay for service?
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse show" aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti provides customers flexible payment methods and bank transfer dependent on the payment terms agreed with the customer
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading7">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        If my load is not ready at the pickup time, will I be charged for waiting time?
                    </button>
                </h2>
            </div>
            <div id="collapse7" class="collapse show" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti gives customers up to two hours of complimentary waiting time. After which time, Logisti will charge waiting time in one hour intervals at rates agreed in the contract.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading8">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        How long in advance should I book a truck?
                    </button>
                </h2>
            </div>
            <div id="collapse8" class="collapse show" aria-labelledby="heading8" data-parent="#accordionExample">
                <div class="card-body">
                    Generally, for long hauls, 24 hours in advance is required. However, Logisti can cater for urgent booking needs in 6 hours window
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading9">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        How long it takes to get an offer
                    </button>
                </h2>
            </div>
            <div id="collapse9" class="collapse show" aria-labelledby="heading9" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti can respond to truck booking requests with rate offers within two hours.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading10">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        What goods can I transport with Logisit?
                    </button>
                </h2>
            </div>
            <div id="collapse10" class="collapse show" aria-labelledby="heading10" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti can transport all types of cargo that are permitted by the authorities.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading11">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        What kind of trucks do you provide?
                    </button>
                </h2>
            </div>
            <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti provides all common trucks to cater for customers transportation needs, such as open box trucks, closed box trucks, reefers, side grill trucks, side curtain trucks, flatbed trucks.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading12">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        Do you have cross border service?
                    </button>
                </h2>
            </div>
            <div id="collapse12" class="collapse show" aria-labelledby="heading12" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti provides trucking services across Saudi Arabia and the neighbouring GCC countries, Jordan and Yemen.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading13">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                        Do you provide cross border customs clearance services?
                    </button>
                </h2>
            </div>
            <div id="collapse13" class="collapse show" aria-labelledby="heading13" data-parent="#accordionExample">
                <div class="card-body">
                    Logisti can cater for your customs clearance needs through alliances with customs clearance agents approved by the Saudi Customs.
                </div>
            </div>
        </div>
    </div>
</div>