<div class="index-about-us-fluid">
    <div class="container-lg index-about-us-container">
        <div class="row">
            <div class="col-md-5">
                <div class="title">
                    <h2>من نحن؟</h2>
                    <p>اطلب هو تطبيق سعودي متخصص في تقديم خدمات توصيل متكاملة للمؤسسات والأفراد في أنحاء الرياض والدمام وجدّة.</p>
                </div>
            </div>
            <div class="col-md-7">

            </div>
        </div>
        <div class="row image">
            <div class="col">
                <img src="assets/images/index-header-background.svg" alt="">
            </div>
        </div>
    </div>
</div>