<div class="container-lg">
    <div class="index-header">
        <div class="row">
            <div class="col-12">
                <a href="" class="logo"></a>
            </div>
        </div>
        <header>
            <div class="row">
                <div class="col-md-8 header-title">
                    <h1 class="title-1">خدمات توصيل متكاملة</h1>
                    <p class="title-2">أول تطبيق سعودي يقدّم خدمات التوصيل المتكاملة للمؤسسات والأفراد</p>
                </div>
                <div class="col-md-4 towers-image">
                    <img src="assets/images/towers.svg" class="towers" alt="">
                </div>
                <div class="col-md-12 bottom-header-title">
                    تأكيدًا على الترابط الوطني وقت الأزمات، تؤكد اطلب لخدمات التوصيل على التزامها بإجراءات الوقاية
                    للحفاظ على سلامة عملائها
                    <br> والعاملين فيها وتقوم بشكر كلّ مسؤولي الدولة العاملين ليل نهار من أجل الحفاظ على صحة وسلامة وأمن
                    المواطنين والمقيمين.
                </div>
            </div>
        </header>
    </div>
</div>
