<div class="services">
    <div class="container-lg header">
        <h2>خدمـــاتنا</h2>
    </div>
    <div class="individual service">
        <div class="container-lg">
            <h3>خدمات الأفراد</h3>
            <div class="row list-of-services">
                <div class="col-md-4 div-sm-2 service-mb">
                    <div class="service-type">
                        <div class="row">
                            <div class="col-12 image"><img src="assets/images/delivery-from-pharmacy.svg" alt=""></div>
                            <div class="col-12 title">توصيل طلبات من الصيدليات والمراكز الطبية حتى
                                باب المنزل</div>
                            <div class="col-12 link"><a href="pharmacy.html">المزيد من التفاصيل</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 div-sm-2 service-mb">
                    <div class="service-type">
                        <div class="row">
                            <div class="col-12 image"><img src="assets/images/delivery-from-market.svg" alt=""></div>
                            <div class="col-12 title">توصيل المقاضي بأنواعها من السوبرماركت والبقالة
                                وغيرها من المحلات التجارية وتوصيلها حتى باب المنزل
                            </div>
                            <div class="col-12 link"><a href="lmd.html">المزيد من التفاصيل</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 div-sm-2 service-mb">
                    <div class="service-type">
                        <div class="row">
                            <div class="col-12 image"><img src="assets/images/delivery-from-market-total.svg" alt=""></div>
                            <div class="col-12 title">توصيل طلبات الجملة من السوبرماركت
                                والمخازن حتى باب المنزل</div>
                            <div class="col-12 link"><a href="delivery.html">المزيد من التفاصيل</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="business service">
        <div class="container-lg">
            <h3>خدمات رجال الأعمال والشركات</h3>
            <div class="list-of-services">
                <div class="row service-type">
                    <div class="col-md-6 single-service">
                        <div class="row">
                            <div class="col-12 image"><img src="assets/images/driving.svg" alt=""></div>
                            <div class="col-12 title">توصيل طلبات من الصيدليات والمراكز الطبية حتى
                                باب المنزل
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 single-service">
                        <div class="row">
                            <div class="col-12 image"><img src="assets/images/good-captins.svg" alt=""></div>
                            <div class="col-12 title">توصيل طلبات من الصيدليات والمراكز الطبية حتى
                                باب المنزل
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="link"><a href="bulk.html">المزيد من التفاصيل</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>