{% extends "layouts::master.twig" %}
{% block title %}اطلب - توصيل من الصيدلية{% endblock %}
{% block description %}أُطلب أي شي محتاجه من الصيدلية، وبتلاقينا جاهزين كل يوم لتوصيله. {% endblock %}
{% block permalink %}https://now.e6lub.com/pharmacy.html{% endblock %}

{% set hide_footer_about_us = false %}

{% block content %}
    <div class="container-lg parent-container">
        <div class="top-sections">
            {% include 'partials/header.twig' %}
            {% include 'partials/form.twig' %}
        </div>
        {% include 'partials/products.twig' %}
    </div>    
{% endblock %}