<div class="driver-header">
    <div class="row">
        <div class="col-12">
            <a href="" class="logo"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mobile-truck">
            <img src="assets/images/truck.svg" class="truck" alt="">
        </div>
        <div class="col-md-6 mobile-header-title">
            <h1 class="header-title">
                <p class="title-1">Signup</p>
                <p class="title-2">As a delivery Driver</p>
                <p class="title-3">for shipments</p>
                <p class="title-4">Join the first Saudi App specialized complete delivery solution</p>
            </h1>
        </div>
    </div>
</div>
