<div class="driver-lists-box">
    <h2 class="header-title">
        <p class="title">Are you the one we are looking for?</p>
    </h2>
    <div class="row driver-lists">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/your-age.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Are you over 18?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/your-experience.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Do you have experience in dealing with customers?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/driving.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">At least two years of driving experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/licence.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Do you have a valid driving licence?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/driving-between-cities.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Used to driving for long distances</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/saudi-priority.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Priority for Saudis</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/certificates.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">Background check will be conducted</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

<div class="driver-lists-box">
    <h3 class="header-title">
        <p class="title">If all the conditions apply</p>
        <p class="title">We want you in our team!</p>
    </h3>
</div>