{% extends "layouts::master.twig" %}
{% block title %}أُطلب - خدمة تسوق وتوصيل مقاضي البيت{% endblock %}
{% block description %}خدمات توصيل للشركات ومواقع التجارة الالكترونية{% endblock %}
{% block content %}
<img src="assets/images/icons/logo.png" alt="" class="logo">
<div class="position-relative text-center bg-light">
  
    <h1 class="display-4 background-heading">شراء وتوصيل مقاضي</h1>

  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="section container" id="how-it-works">
  <h1 class="text-orange">كيف يعمل؟</h1>
  <ul class="row icons">
    <li class="col-md-2 col-sm-12">
      <img src="assets/images/icons/icon1.png" height="95" height="95" alt="Icon 1">
      <div class="small-divider text-orange"></div>
      <h5 class="text-gray">عبّئ طلبك</h5>
    </li>
    <li class="col-md-2 col-sm-12">
      <img src="assets/images/icons/divider.png" width="95" alt="">
    </li>
     <li class="col-md-2 col-sm-12">
       <img src="assets/images/icons/icon2.png" height="95" height="95" alt="Icon 1">
      <div class="small-divider text-orange"></div>
      <h5 class="text-gray"> سيقوم أحد مندوبينا بالاتصال معك لتأكيد طلبك وتحديد الأسعار</h5>
    </li>
        <li class="col-md-2 col-sm-12">
      <img src="assets/images/icons/divider2.png" class="down-divider" width="95" alt="">
    </li>
        <li class="col-md-2 col-sm-12">
       <img src="assets/images/icons/icon3.png" height="95" height="95" alt="Icon 1">
      <div class="small-divider text-orange"></div>
      <h5 class="text-gray">يتم توصيل طلبك</h5>
    </li>   
  </ul>
</div>

<div class="section" id="form-section">
  <div class="row no-margin text-center">
    <div class="col-sm-12 col-md-6 about-us no-margin">
      <div class="paragraph">
        <img src="assets/images/icons/support.png" width="45" alt="">
        <h2>خدماتنا</h2>
        <p>ما لك خلق تتسوّق؟ محتاج أغراض للبيت ومشاغلك كثيرة؟
أُطلب أي شي محتاجه من مقاضي البيت، وبتلاقينا جاهزين
كل يوم لتوصيله.</p>
      </div>
      <div class="small-divider text-orange"></div>

            <div class="paragraph">
        <img src="assets/images/icons/company.png" width="60" alt="">
        <h2>شركتنا</h2>
        <p>أطلب، هو تطبيق سعودي متخصص بتوصبل كل مقاضي
البيت، من أي سوبرماركت تبي، ووين ما كنت بالسعودية.
3 خطوات بسيطة هي كل شي تحتاجه عشان أغراضك توصل
لعندك: أطلب. نشتري. نوصّل.
ما تنقّص شي عبيتك، خلّنا نساعدك.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 no-margin">
        <script type="text/javascript" src="https://engage.e6lub.com/form/generate.js?id=2"></script>
    </div>
  </div>
</div>

<div class="" id="test-section">
  
  <div class="section text-center  row no-margin align-items-center">
    <h1 class="col-12 text-gray">ماذا يقول الناس عنا</h1>
      <div class="col-sm-12 col-md-6">
        <div class="test-item">
        <img src="assets/images/icons/comma.png" alt="" class="comma">
        <p>طلبت بعد الخامسة مساء بعد الحظر وتم تسليم الطلب في الصباح الباكر </p>
      <hr>
      <h5 class="text-gray">محمد - الرياض</h5>
      <div class="stars">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
      </div>
    </div>
    </div>
          <div class="col-sm-12 col-md-6  ">
        <div class="test-item">
        <img src="assets/images/icons/comma.png" alt="" class="comma">
        <p>اطلب قام بتأمين طلبي في اقل وقت ممكن ، كان التواصل معهم سهل وفعال، والأهم من ذلك وصل طلبي في الصباح الباكر بدون اي تأخير، شكراُ لكم يا اطلب</p>
      <hr>
      <h5 class="text-gray">فهد - الدمام</h5>
      <div class="stars">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
        <img src="assets/images/icons/star.png" class="star" alt="">
      </div>
    </div>
    </div>
  </div>
</div>



<footer class=" py-5">
  <div class="container">
  <div class="row text-center justify-content-md-center">
    <div class="col-sm-12 col-md-3">
      <h3>تابعنا</h3>
      <ul class="list-unstyled social-icons">
        <li><a href="https://facebook.com/e6lub" target="_blank"><img src="assets/images/icons/facebook.png" alt=""></a></li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-3 right-line">
      <h3>اتصل بنا</h3>
      <ul class="list-unstyled text-small address-list">
        <li><img class="pin" src="assets/images/icons/pin.png" alt=""> طريق مكة القديم كيلو 40 </li>
        <li class="text-footer"><span>جدة</span> <span>مكة</span></li>
        <li class="text-footer"><span>21521.</span> <span>0500985930</span></li>
      </ul>
    </div>
  </div>
  </div>
</footer>
{% endblock %}
