<div class="footer">
    <div class="container-fluid delivery-about-us-footer about-us-footer">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-3 col-sm-12"><span></span></div>
                <div class="col-md-9 col-sm-12">
                    <h2>من نحن؟</h2>
                    <p>اطلب هو تطبيق سعودي متخصص لتسهيل مهام رجال الأعمال؛ بالوصول إلى سائقين يتمتعون بالخبرة والثقة التي تجعلكم مطمئنين على بضاعتكم منذ خروجها من باب المخزن حتى وصولها للمشتري في نقاط التوزيع المختلفة.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid delivery-links-footer links-footer">
        <div class="container-lg">
            <div class="top-footer clearfix">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12"><span></span></div>
                    <div class="col-lg-4 col-md-2 col-sm-12"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <ul>
                            <li><a href="https://now.e6lub.com/">اطلب | توصيل مقاضي </a></li>
                            <li><a href="https://now.e6lub.com/lmd.html">اطلب | خدمات توصيل البضائع  من المخازن</a></li>
                            <li><a href="https://now.e6lub.com/pharmacy.html">اطلب | خدمات توصيل من الصيدلية</a></li>
                            <li><a href="https://now.e6lub.com/groceries.html">اطلب | خدمات توصيل المقاضي</a></li>
                            <li><a href="https://now.e6lub.com/drivers.php">اطلب | سجّل نفسك كقائد مركبة</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bottom-footer">
        <div class="container-lg">
            <span>جميع الحقوق محفوظة لدى اطلب 2020</span>
        </div>
    </div>
</div>
