<div class="driver-header">
    <div class="row">
        <div class="col-12">
            <a href="" class="logo"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mobile-truck">
            <img src="assets/images/truck.svg" class="truck" alt="">
        </div>
        <div class="col-md-6 mobile-header-title">
            <h1 class="header-title">
                <p class="title-1">سجل نفسك</p>
                <p class="title-2">كسائق مركبة لتوصيل</p>
                <p class="title-3">البضائع والطلبات</p>
                <p class="title-4">انضم لأول تطبيق سعودي متخصص في توصيل الطلبات والبضائع</p>
            </h1>
        </div>
    </div>
</div>
