<div class="middle-section is-that-you">
    <h2 class="header-title">
        <p class="title">هل أنت من نبحث عنه؟</p>
    </h2>
    <div class="row list-of-products procedures">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/your-age.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">عمرك فوق 18 سنة</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/your-experience.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">لديك خبرة عملية في مجال المبيعات أو خدمة العملاء وكيفية التعامل بلباقة في عالم الأعمال</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/driving.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">خبرة في سياقة السيارات أو الشاحنات لمدة عامين على الأقل</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/licence.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">لديك رخصة قيادة سارية أو يمكن تجديدها لبدء العمل فورًا</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/driving-between-cities.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">معتاد على القيادة بين المدن والمسافات الطويلة</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/saudi-priority.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">الأولوية للسعوديين ثم المقيمين</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="assets/images/certificates.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">سيتم استخراج شهادة جنائية لكل المتقدمين</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <h2 class="footer-title">
        <p class="title">إذا كانت الصفات السابقة تنطبق عليك؛</p>
        <p class="title">نحن نريدك معنا في الفريق!</p>
    </h2>
</div>