<div class="middle-section why-we-order">
    <h2 class="header-title">
        <p class="title">تفاصيل الوظيفة</p>
    </h2>
    <div class="row list-of-products procedures">
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/daily-cache.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">احصل على دخل يومي أو أسبوعي وشهري إضافي في الوقت الذي تريده</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/price-offers.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">قم بتقديم عروض الأسعار التي ترغب بها للمشوار الذي تريده</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/select-trip.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">اختر المشوار الذي ترغب فيه وقم بإرسال عرض سعر للشركة المعلِنة بحسب سيارتك ووقتك</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/join-app.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">انضمّ لأول تطبيق سعودي متخصص في توصيل الطلبات والبضائع بين الرياض وجدة والدمام</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/select-trips-in-time.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">اختر المشاوير المناسبة لك في الوقت المناسب لك</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/good-captins.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">الاحترافية والقيادة الماهرة بين المدن الثلاثة: الرياض - الدمام - جدة شرط أساسي لقبول المتقدم</p>
                </div>
            </div>
        </div>
    </div>
</div>