{% extends "layouts::master.twig" %}
{% block title %}اطلب - خدمات توصيل للشركات{% endblock %}
{% block description %}خدمات توصيل للشركات ومواقع التجارة الالكترونية{% endblock %}
{% block permalink %}https://now.e6lub.com/drivers.html{% endblock %}

{% set hide_footer_about_us = false %}
{% set language = "ar" %}
{% set direction = "rtl" %}

{% block content %}
    <div class="driver-background-header"></div>
    <div class="container-lg parent-container">
        {% include 'partials/header.twig' %}
        {% include 'partials/form.twig' %}
        {% include 'partials/job-details.twig' %}
        {% include 'partials/is-that-you.twig' %}
    </div>    
{% endblock %}