<div class="delivery-header">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <a href="" class="logo"></a>
            <h1 class="header-title">
                <p class="title-1">"اطلب"</p>
                <p class="title-2">لتوصيل بضائعكم</p>
                <p class="title-3">من المخازن</p>
                <p class="title-4">إلى مراكز التوزيع</p>
                <p class="title-5">
                    توصيل المواد الغذائية والبضائع من المخازن
                    <br>
                    إلى نقاط  التوزيع المختلفة في أنحاء
                    <br>
                    الرياض والدمام وجدة
                </p>
            </h1>
        </div>
        <div class="col-lg-6 col-md-12"></div>
    </div>
</div>
<div class="delivery-header-mobile">
    <div class="delivery-background-header-mobile"></div>
</div>

