<div class="middle-section why-we-order">
    <h2 class="header-title">
        <p class="title">لماذا “اطلب”؟</p>
    </h2>
    <div class="row list-of-products procedures">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/select-driver.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">نقوم باختيار السائقين بعناية فائقة من أجل ضمان استمرار أعمالكم بسلاسة ويسر</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/tracking-app.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">يمكنك متابعة تحرك الطلبية بدقة منذ بدء الطلب وحتى الوصول (اعتمادًا على خرائط جوجل)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/driver-profiles.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">يمكنك مشاهدة الملفات الشخصية للسائقين واختيار أفضل عرض من حيث السعر ووقت التوصيل</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/bill.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">يتم تقديم فواتير ضريبية جاهزة للطباعة</p>
                </div>
            </div>
        </div>
    </div>
</div>