<div class="section-2">
    <div class="row">
        <div class="d-table-cell col-lg-6 col-md-12">
            <div class="header">
                <span></span>
                <h2>كيف تطلب؟</h2>
            </div>
            <ul class="pl-md-4">
                <li class="paragraph-1">جهز طلباتك من الصيدلية: الأدوية (سلامات!) أو أي مستحضرات أو أدوات أخرى.
                </li>
                <li class="paragraph-2">املأ الطلب في هذه الصفحة بكل ما تحتاج إليه.
                </li>
                <li class="paragraph-3">سيقوم مندوبنا بالاتصال بك لتأكيد الطلب.
                    <p>ثم يذهب لشراء كل احتياجاتك وإحضارها حتى باب منزلك.
                    </p>
                </li>
                <li class="paragraph-4">إذا كان هناك طلب غير موجود سيتم التواصل معكم لتأكيد إحضاره من مكان آخر.
                </li>
                <li class="paragraph-5">يتم إضافة رسوم توصيل.
                </li>
                <li class="paragraph-6">* إذا كانت لديك قائمة دورية باحتياجات صيدلانية يمكنك الاشتراك معنا لتصبح عميلًا مميزًا له الأولوية في الحصول على طلباته أسبوعيًا، أو شهريًا بدون ملء النموذج كل مرة.</li>
            </ul>
        </div>
        <div class="d-table-cell col-lg-6 col-md-12">
            <div class="form-product-list">
                <form action="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="الاسم" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="رقم الهاتف" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="المدينة" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="العنوان" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <div class="textarea">
                            <p>الطلبات</p>
                            <textarea class="form-control" rows="11`" aria-label="With textarea" placeholder="يرجى ذكر اسم الطلب وبجواره الكمية المطلوبة" spellcheck="false"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary confirm-product-list">تأكيد قائمة الشراء</button>
                </form>
            </div>
        </div>
    </div>
</div>