<div class="section-1">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <a href="" class="logo"></a>
            <h1 class="header-title">
                <p class="title">الصيدلية</p>
                <p class="sub-title">بين إيديك</p>
            </h1>
            <button class="stay-home-btn" type="button">خليك آمن في البيت</button>
        </div>
        <div class="col-lg-7 col-md-12">
            <img class="pharmacy" src="assets/images/pharmacy.png" alt="">
        </div>
    </div>
</div>