{% extends "layouts::master.twig" %}
{% block content %}
    <div class="container-lg parent-container">
        <div class="top-sections">
            {% include 'header.twig' %}
            {% include 'form.twig' %}
        </div>
        {% include 'products.twig' %}
    </div>
    {% include 'footer.twig' %}
{% endblock %}