<div class="bulk-registration">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="img">
                <img src="assets/images/driver-registration.svg" alt="">
            </div>
            <p class="hint-1">وجبات المطاعم بالجملة للشركات والمؤسسات العسكرية والطبية</p>
            <p class="hint-2">توصيل طلبات السوبرماركت والمواد الغذائية والبقالة بالجملة للمنازل والشركات والمطاعم</p>
            <p class="hint-3">اطلب توصيل خاص من مخازن أو مستودعات إلى مراكز توزيع</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="form-bulk-registration">
                <script type="text/javascript" src="https://engage.e6lub.com/form/generate.js?id=6"></script>
            </div>
        </div>
    </div>
</div>