<div class="bulk-header">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <a href="" class="logo"></a>
            <h1 class="header-title">
                <p class="title-1">"اطلب"</p>
                <p class="title-2">توصيل طلبات بالجملة</p>
                <p class="title-3">في الرياض <br>والدمام وجدة</p>
                <p class="title-5">متخصصون في توصيل الطلبات <br>للمنازل والشركات</p>
            </h1>
        </div>
        <div class="col-lg-6 col-md-12"></div>
    </div>
</div>
<div class="bulk-header-mobile">
    <div class="bulk-background-header-mobile"></div>
</div>

