<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="done">
            <img src="assets/images/thumb.svg" width="200" alt="">
        </div>
    </div>
    <div class="col-md-8 col-sm-6">
        <h1 class="header-title">
            <p class="title-1">شكرا لك</p>
            <p class="title-2">سنقوم بابلاغك عندما نبدأ</p>
        </h1>
    </div>
</div>