<div class="contact-us">
    <div class="row">
        <div class="col-sm-6">
            <h3>اتصل بنا</h3>
            <ul class="list-unstyled text-small address-list">
                <li>طريق مكة القديم كيلو 40 <img class="pin" src="icons/pin.png" alt=""></li>
                <li class="text-footer"><span>جدة</span> <span>مكة</span></li>
                <li class="text-footer"><span>21521.</span> <span>0500985930</span></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>تابعونا على الشبكات الاجتماعية</h3>
            <ul class="clearfix social-icons">
                <li><a href="https://facebook.com/e6lub" target="_blank"><img src="assets/images/facebook.svg" alt=""></a></li>
                <li><a href="https://twitter.com/e6lub" target="_blank"><img src="assets/images/twitter.svg" alt=""></a></li>
                <li><a href="https://instagram.com/e6lub" target="_blank"><img src="assets/images/instagram.svg" alt=""></a></li>
                <li><a href="https://snapchat.com/e6lub" target="_blank"><img src="assets/images/snapchat.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>