<div class="share">
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e668ca4840c9b0013876453&product=inline-share-buttons&cms=website' async='async'></script>
    <div class="sharethis-inline-share-buttons" data-url="https://now.e6lub.com/?source=mautic"
         data-title="أُطلب - خدمة تسوق وتوصيل مقاضي البيت"
         data-description=" أُطلب أي شي محتاجه من مقاضي البيت، وبتلاقينا جاهزين كل يوم لتوصيله."
         data-image="https://now.e6lub.com/social/cover.jpg"></div>
</div>