<div class="lmd-header">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <a href="" class="logo"></a>
            <h1 class="header-title">
                <p class="title-1">"e6lub"</p>
                <p class="title-2">Deliver from the</p>
                <p class="title-3">business hub</p>
                <p class="title-4">to final destination</p>
                <p class="title-5">
                    Quick movers ready to take your orders
                    <br>
                    among and between cities
                </p>
            </h1>
        </div>
        <div class="col-lg-6 col-md-12"></div>
    </div>
</div>
<div class="lmd-header-mobile">
    <div class="lmd-background-header-mobile"></div>
</div>

