<div class="why-we-order">
    <h2 class="header-title">
        <p class="title">WHY PARTNER WITH US?</p>
    </h2>
    <div class="row list-of-products procedures">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/select-driver.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">We handpick professional drivers, making sure your business operations are running smoothly</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/tracking-app.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">You can monitor the drive from pickup to delivery</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/driver-profiles.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">Browse profiles of drivers and their bids for your order post, bids include estimated time of delivery along with prices</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        <img src="assets/images/bill.svg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">Get a printable taxed invoice</p>
                </div>
            </div>
        </div>
    </div>
</div>