{% extends "layouts::master.twig" %}
{% block content %}
    <div class="delivery-background-header hidden-md"></div>
    <div class="container-lg parent-container">
        {% include 'partials/header.twig' %}
        {% include 'partials/why-we-order.twig' %}
        {% include 'partials/form.twig' %}
    </div>
    {% include 'partials/footer.twig' %}
{% endblock %}