{% extends "layouts::master.twig" %}
{% block title %}اطلب - خدمات توصيل للشركات{% endblock %}
{% block description %}خدمات توصيل للشركات ومواقع التجارة الالكترونية{% endblock %}
{% block permalink %}https://now.e6lub.com/lmd.html{% endblock %}

{% set hide_footer_about_us = false %}

{% block content %}
    <div class="delivery-background-header"></div>
    <div class="container-lg parent-container">
        {% include 'partials/header.twig' %}
        {% include 'partials/why-we-order.twig' %}
        {% include 'partials/form.twig' %}
    </div>    
{% endblock %}